[Unit]
Description=IOC: %i
ConditionHost=ics-hzb-v20-ioc-01
After=network-online.target
Requires=network-online.target

[Service]
User=root
Type=simple

# Run procServ 
WorkingDirectory=/epics/iocs/cmds/hzb-v20-evr-01-cmd
ExecStart=/epics/iocs/cmds/hzb-v20-evr-01-cmd/start_systemd.sh
