[Unit]
Description=IOC: %i
ConditionHost=ics-utgard-99
After=network-online.target
Requires=network-online.target

[Service]
User=root
Type=simple

# Run procServ 
WorkingDirectory=/epics/iocs/cmds/hzb-v20-evg-01-cmd
ExecStart=/epics/iocs/cmds/hzb-v20-evg-01-cmd/start_systemd.sh

[Install]
WantedBy=multi-user.target
